<main class="main">

  <!-- Page Title -->
  <div class="page-title light-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">Acerca de</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="index.html">Inicio</a></li>
          <li class="current">Acerca de</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- About 2 Section -->
  <section id="about-2" class="about-2 section">

    <div class="container" data-aos="fade-up">

      <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-5">
          <div class="about-img">
            <img src="../public/template/assets/img/about-portrait.jpg" class="img-fluid" alt="Equipo Futurista">
          </div>
        </div>

        <div class="col-lg-7">
          <h3 class="pt-0 pt-lg-5">Somos los Arquitectos de Tu Mundo Virtual</h3>

          <!-- Tabs -->
          <ul class="nav nav-pills mb-3">
            <li><a class="nav-link active" data-bs-toggle="pill" href="#about-2-tab1">El Poder de AR y VR</a></li>
            <li><a class="nav-link" data-bs-toggle="pill" href="#about-2-tab2">Gemelos Digitales</a></li>
            <li><a class="nav-link" data-bs-toggle="pill" href="#about-2-tab3">Nuestra Visión del Metaverso</a></li>
          </ul><!-- End Tabs -->

          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="about-2-tab1">

              <p class="fst-italic">La Realidad Aumentada (AR) y la Realidad Virtual (VR) están transformando la manera en que las marcas interactúan con su audiencia. En [Nombre de la Agencia], nos especializamos en crear experiencias innovadoras en AR y VR que dan vida a las marcas en un mundo digital.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Transforma Tu Marca con Filtros AR</h4>
              </div>
              <p>Diseñamos filtros AR únicos para plataformas de redes sociales, eventos y espacios físicos, creando experiencias de marca memorables y atractivas para usuarios de todo el mundo.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Experiencias Inmersivas en Realidad Virtual</h4>
              </div>
              <p>Desde lanzamientos de productos virtuales hasta eventos interactivos en VR, nuestra agencia ofrece soluciones completas de VR que permiten a los usuarios adentrarse en un mundo digital totalmente inmersivo.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Conectando los Mundos Real y Virtual</h4>
              </div>
              <p>Unimos los mundos real y virtual combinando tecnologías avanzadas de AR y VR, proporcionando a las empresas formas innovadoras de conectar con su audiencia.</p>

            </div><!-- End Tab 1 Content -->

            <div class="tab-pane fade" id="about-2-tab2">

              <p class="fst-italic">Los Gemelos Digitales (DT) ofrecen una forma revolucionaria de crear réplicas virtuales de activos, procesos o sistemas físicos. Utilizamos los DT para proporcionar simulaciones en tiempo real e información basada en datos para empresas de diversas industrias.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Simula Tus Activos en Tiempo Real</h4>
              </div>
              <p>Creamos modelos digitales precisos y dinámicos de activos del mundo real, proporcionando a las empresas información en tiempo real y eficiencias operacionales.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Decisiones Transformadoras con Gemelos Digitales</h4>
              </div>
              <p>Nuestros gemelos digitales permiten a las empresas tomar mejores decisiones basadas en entornos simulados, ayudando a optimizar procesos y reducir costos operativos.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Desbloquea el Futuro de la Innovación Digital</h4>
              </div>
              <p>Los Gemelos Digitales son el futuro de la innovación digital. Con nuestra experiencia, estamos listos para ayudarte a desbloquear el poder de la replicación y simulación digital.</p>

            </div><!-- End Tab 2 Content -->

            <div class="tab-pane fade" id="about-2-tab3">

              <p class="fst-italic">El Metaverso está convirtiéndose rápidamente en una plataforma clave para que las empresas interactúen con sus clientes. Ayudamos a las marcas a establecer su presencia en el Metaverso con entornos virtuales inmersivos que difuminan las líneas entre los mundos físico y digital.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Crea Experiencias Virtuales en el Metaverso</h4>
              </div>
              <p>Somos expertos en diseñar eventos virtuales, showrooms y experiencias en el Metaverso, permitiendo que tu marca interactúe con los clientes de maneras completamente nuevas.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Conecta con tu Audiencia a través de Comunidades Virtuales</h4>
              </div>
              <p>Nos especializamos en crear comunidades interactivas dentro del Metaverso, donde los usuarios pueden conectar, interactuar e inmersirse en el mundo virtual de tu marca.</p>

              <div class="d-flex align-items-center mt-4">
                <i class="bi bi-check2"></i>
                <h4>Innova con Activos y Economías Virtuales</h4>
              </div>
              <p>Integramos activos y economías virtuales dentro del Metaverso, proporcionando a las empresas las herramientas necesarias para crear nuevas fuentes de ingresos y conectar con los clientes de maneras sin precedentes.</p>

            </div><!-- End Tab 3 Content -->

          </div>

        </div>

      </div>

    </section><!-- /About 2 Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="350" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clientes</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="130" data-purecounter-duration="1" class="purecounter"></span>
              <p>Proyectos Completados</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="4500" data-purecounter-duration="1" class="purecounter"></span>
              <p>Horas de Soporte Virtual</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1" class="purecounter"></span>
              <p>Experiencias Inmersivas Creadas</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

  </main>
