
    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Contacto</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Inicio</a></li>
            <li class="current">Contacto</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7580936034187!2d-78.44509422650493!3d-0.3148156353328449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5bd12538eb13b%3A0x907c61f1abbe45ab!2sUniversidad%20de%20las%20Fuerzas%20Armadas%20ESPE!5e0!3m2!1ses!2sec!4v1763102756164!5m2!1ses!2sec" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Dirección</h3>
                <p>Av. Genral Rumiñahui, Quito, Pichincha</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Llamanos</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Correo</h3>
                <p>info@AETHERLAB.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form id="contactForm" action="../forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200" target="hiddenFrame">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input  type="text" name="name" class="form-control" placeholder="Tu nombre" required="">
                </div>

                <div class="col-md-6 ">
                  <input id="emailAddress" type="email" class="form-control" name="email" placeholder="Tu Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Asunto" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Cargando...</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Se ha enviado tu mensaje, gracias!</div>

                  <button type="submit" data-bs-toggle="modal" data-bs-target="#modalRegistro">Enviar mensaje</button>
                </div>

              </div>
            </form>
            <iframe name="hiddenFrame" style="display: none;"></iframe>
          </div><!-- End Contact Form -->

        </div>

      </div>


    </section><!-- /Contact Section -->

      <div class="modal fade" id="modalRegistro" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Mensaje enviado</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <p>Hemos recibido su mensaje, te responderemos pronto</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
<script src="../public/template/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
  document.getElementById("contactForm").addEventListener("submit", function(e) {
    e.preventDefault();
    this.submit();
    var myModal=new bootstrap.Modal(document.getElementById('modalRegistro'));
  });
</script>

