<div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Portfolio</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Portfolio</li>
          </ol>
        </nav>
      </div>
    </div><section id="portfolio" class="portfolio section">

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Todo</li>
            <li data-filter=".filter-app">Apps</li>
            <li data-filter=".filter-product">AR</li>
            <li data-filter=".filter-branding">Web</li>
          </ul><div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="../public/img/expinmer.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Experiencia Inmersiva VR</h4>
                <p>Recorrido virtual interactivo para sector inmobiliario de lujo.</p>
                <a href="../public/img/expinmer.png" title="Recorrido VR" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="../views/portafolio-details.html" onclick="loadPage(event,this.href)" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="../public/img/prototipo.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Prototipo de Producto AR</h4>
                <p>Visualización 3D en Realidad Aumentada para e-commerce.</p>
                <a href="../public/img/prototipo.jpg" title="Prototipo AR" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="../views/portafolio-details.html" onclick="loadPage(event,this.href)" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="../public/img/marcavr.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mundo de Marca Virtual</h4>
                <p>Espacio de marca persistente en el metaverso para eventos.</p>
                <a href="../public/img/marcavr.jpg" title="Mundo de Marca" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="../views/portafolio-details.html" onclick="loadPage(event,this.href)" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="../public/img/filtroar.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App de Filtros AR</h4>
                <p>Filtros de Realidad Aumentada para campaña de marketing viral.</p>
                <a href="../public/img/filtroar.jpg" title="Filtros AR" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="../views/portafolio-details.html" onclick="loadPage(event,this.href)" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="./public/template/assets/img/masonry-portfolio/masonry-portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Visualizador de Muebles AR</h4>
                <p>Aplicación para probar muebles en casa usando la cámara.</p>
                <a href="./public/template/assets/img/masonry-portfolio/masonry-portfolio-5.jpg" title="Visualizador AR" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="../views/portafolio-details.html" onclick="loadPage(event,this.href)" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="../public/img/gemeloind.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Gemelo Digital Industrial</h4>
                <p>Simulación y monitoreo de planta de producción en tiempo real.</p>
                <a href="../public/img/gemeloind.jpg" title="Gemelo Digital" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="../views/portafolio-details.html" onclick="loadPage(event,this.href)" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="../public/img/entrenamiet.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Entrenamiento VR</h4>
                <p>Simulador de entrenamiento en Realidad Virtual para operarios.</p>
                <a href="../public/img/entrenamiet.png" title="Entrenamiento VR" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="../views/portafolio-details.html" onclick="loadPage(event,this.href)" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="../public/img/holograma.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Holograma Interactivo</h4>
                <p>Diseño de producto con manipulación holográfica gestual.</p>
                <a href="../public/img/holograma.jpg" title="Holograma Interactivo" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="../views/portafolio-details.html" onclick="loadPage(event,this.href)" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="../public/img/gallery.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Galería de Arte Virtual</h4>
                <p>Exhibición de arte digital (NFTs) en un entorno inmersivo.</p>
                <a href="../public/img/gallery.jpg" title="Galería de Arte" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="../views/portafolio-details.html" onclick="loadPage(event,this.href)" title="More Details" class="details-link" ><i class="bi bi-link-45deg"></i></a>
              </div>
            </div></div></div>

      </div>

    </section>

