<!-- Team Section -->
<section id="team" class="team section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="../public/template/assets/img/team/team-1.jpg" class="img-fluid" alt="Stalyn Landazuri"></div>
          <div class="member-info">
            <h4>Stalyn Landazuri</h4>
            <span>Chief Experience Architect</span>
            <p>Stalyn es el visionario detrás de las experiencias más innovadoras de AR y VR. Con una mente creativa y analítica, lidera el diseño de mundos virtuales que combinan funcionalidad con arte, llevando a las marcas a nuevas dimensiones.</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="../public/template/assets/img/team/team-2.jpg" class="img-fluid" alt="Juda Grijalva"></div>
          <div class="member-info">
            <h4>Juda Grijalva</h4>
            <span>Virtual Reality Strategist</span>
            <p>Juda es el estratega que transforma ideas complejas en experiencias inmersivas. Su enfoque único y su pasión por la realidad virtual le permiten diseñar soluciones personalizadas que conectan profundamente con el público.</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="../public/template/assets/img/team/team-3.jpg" class="img-fluid" alt="Nicolas Zurita"></div>
          <div class="member-info">
            <h4>Nicolas Zurita</h4>
            <span>3D Experience Designer</span>
            <p>Nicolas es el encargado de dar vida a las ideas. Su habilidad para diseñar entornos 3D detallados y cautivadores es clave para crear experiencias visuales únicas que cautivan a los usuarios en cada interacción.</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="../public/template/assets/img/team/team-4.jpg" class="img-fluid" alt="Sariel Peralta"></div>
          <div class="member-info">
            <h4>Sariel Peralta</h4>
            <span>Immersive Content Developer</span>
            <p>Sariel es el creador de los contenidos más innovadores y envolventes. Desde la programación de experiencias interactivas hasta la integración de tecnologías avanzadas, es la pieza fundamental que garantiza la calidad y la fluidez de cada proyecto.</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

    </div>

  </div>

</section><!-- /Team Section -->
