<!-- Page Title -->
<div class="page-title light-background">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Testimonios</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="index.html">Inicio</a></li>
        <li class="current">Testimonios</li>
      </ol>
    </nav>
  </div>
</div><!-- End Page Title -->

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="testimonial-item">
          <img src="../public/template/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="Esteban Recalde">
          <h3>Esteban Recalde</h3>
          <h4>CEO y Fundador Empresas Patito</h4>
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            <span>"Trabajar con esta agencia ha sido una experiencia transformadora. Su capacidad para diseñar experiencias virtuales con AR y VR ha elevado nuestra marca a otro nivel. ¡Un equipo increíble!"</span>
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div><!-- End testimonial item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="testimonial-item">
          <img src="../public/template/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="Luciana Bolaños">
          <h3>Luciana Bolaños</h3>
          <h4>Diseñadora</h4>
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            <span>"La experiencia en realidad aumentada que crearon para nosotros fue espectacular. Pudimos ver nuestra marca cobrar vida de una manera única, ¡todo el equipo está impresionado!"</span>
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div><!-- End testimonial item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="testimonial-item">
          <img src="../public/template/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="Daniela Flores">
          <h3>Daniela Flores</h3>
          <h4>Propietaria de Tienda</h4>
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            <span>"Con sus gemelos digitales, pudimos crear una réplica exacta de nuestra tienda y ofrecer una experiencia de compra virtual a nuestros clientes. Un cambio de juego para nosotros."</span>
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div><!-- End testimonial item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="testimonial-item">
          <img src="../public/template/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="Juan Gutierrez">
          <h3>Juan Gutierrez</h3>
          <h4>Freelancer</h4>
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            <span>"Los eventos virtuales que crearon para nuestra empresa en VR fueron impresionantes. Pudimos interactuar con nuestros clientes de una manera completamente nueva y única." </span>
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div><!-- End testimonial item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
        <div class="testimonial-item">
          <img src="../public/template/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="Andy Conteron">
          <h3>Andy Conteron</h3>
          <h4>Emprendedor</h4>
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            <span>"El equipo nos ayudó a crear una experiencia inmersiva única que permitió a nuestros clientes explorar nuestras soluciones de forma interactiva y en tiempo real. ¡Altamente recomendados!"</span>
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div><!-- End testimonial item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
        <div class="testimonial-item">
          <img src="../public/template/assets/img/testimonials/testimonials-6.jpg" class="testimonial-img" alt="Maria Perez">
          <h3>Maria Perez</h3>
          <h4>Dueña de Tienda</h4>
          <div class="stars">
            <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
          </div>
          <p>
            <i class="bi bi-quote quote-icon-left"></i>
            <span>"Gracias a la realidad aumentada y virtual, nuestro negocio ha crecido exponencialmente. Ahora nuestros clientes pueden interactuar con nuestros productos de maneras innovadoras, ¡estamos muy felices con los resultados!"</span>
            <i class="bi bi-quote quote-icon-right"></i>
          </p>
        </div>
      </div><!-- End testimonial item -->

    </div>

  </div>

</section><!-- /Testimonials Section -->
